<section data-ng-controller="HomeController">
	<div class="container" style="background-color:#fff;margin-top:30px;">
		<!-- <div class="row">
			<div class="col-md-12">
				<a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div id="Product-Percentage"></div>
			</div>
			<div class="col-md-4">
				<div id="InputCost"></div>
			</div>
			<div class="col-md-4">
				<div id="OutputCost"></div>
			</div>
		</div> -->
	</div>
</section>