<section class="row login-page-container" data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-page-bg">
		<h3 class="text-center">Sign Up</h3>
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal forgotPwd" novalidate autocomplete="off">
			<fieldset>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<div class="input-group input-group-md">							
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
					</div>
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<div class="input-group input-group-md">							
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
					</div>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<div class="input-group input-group-md">							
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-envelope"></i>
						</span>
						<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<div class="input-group input-group-md">							
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-user"></i>
						</span>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<div class="input-group input-group-md">							
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<label for="confirmpassword">Confirm Password</label>
					<div class="input-group input-group-md">							
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="password" id="password" name="confirmpassword" class="form-control" data-ng-model="credentials.confirmpassword" placeholder="Password">
					</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary btn-block btn-show">Sign Up</button></br>&nbsp;<b> Or</b>&nbsp;</br>
					<a href="/#!/signin" class="show-signup"><h4>Log In</h4></a>
				</div>
			</fieldset>
		</form>
	</div>
</section>