.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
/* Login Page style - Start*/
body{
	background-color: #EEEEEE;
}
.login-page-bg{
	background-color: #ffffff;
	padding: 15px;
	border-color: #FCFCFC;
	border-width: 3px;
	border-style: solid;
	/* background: rgba(255, 255, 255, 0.95); */
	box-shadow: 0 1px 10px rgba(31, 50, 63, 0.25);
}
.bg-login {
	background: #F9F9F9;
	border-radius: 8px;
}
.big-icon{
  font-size: 160px;
}
.login-page-toggle{
  background-color: #ffffff;
  border-color: #FCFCFC;
  border-width: 0px;
  padding: 16px;
  border-style: solid;
  /* background: rgba(255, 255, 255, 0.95); */
  box-shadow: 0 1px 7px rgba(31, 50, 63, 0.25);
  cursor: pointer;
}
.login-page-toggle-active{
  background-color: #1C74C0;
  border-color: #FCFCFC;
  border-width: 0px;
  padding: 20px;
  border-style: solid;
  /* background: rgba(255, 255, 255, 0.95); */
  box-shadow: 0 1px 7px rgba(31, 50, 63, 0.25);
  cursor: pointer;
  }
.login-page-toggle-active .h4-circle-active{
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  background-color: #15558B;
  color: #FFFFFF;
  font-size: x-large;
  border-radius: 1em;
  font-family: fantasy;
  /* box-shadow: 0 1px 7px rgba(232, 232, 232, 0.68); */
  text-align: center;
}  
.login-page-toggle .h4-circle{
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  background-color: #065191;
  color: #FFFFFF;
  font-size: x-large;
  border-radius: 1em;
  font-family: fantasy;
  box-shadow: 0 1px 7px rgba(232, 232, 232, 0.68);
  text-align: center;
} 
.login-page-toggle-active h3{
  margin-top: 12px;
/* font-weight: 300; */
margin-left: -13px;
color: #FFFFFF;
}
.login-page-container{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

/* Login Page style - End*/

/* customer Page */
.cust-bg-icon{
  font-size:100px;
}

/* Forgot Password */
.forgotPwd{
	padding: 16px;
}
/***
*button
***/
.btn {
  border-width: 1px;
  background-color: transparent;
  font-weight: 400;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 8px 14px;
  border-color: #888888;
  color: #888888;
  border-radius: 0px;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .btn.dropdown-toggle {
  background-color: transparent;
  color: #777777;
  border-color: #777777;
}
.btn:disabled, .btn[disabled], .btn.disabled {
  background-color: transparent;
  border-color: #888888;
}
.btn.btn-show {
  color: white;
  background-color: #888888;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn.btn-show:hover, .btn.btn-show:focus, .btn.btn-show:active, .btn.btn-show.active, .open > .btn.btn-show.dropdown-toggle {
  background-color: #777777;
  color: white;
}

/***
*button - default
***/
.btn-default {
  border-color: #BDC3C7;
  color: #ff3b30;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-color: transparent;
  color: #ee2d20;
  border-color: #ECF0F1;
}
.btn-default:disabled, .btn-default[disabled], .btn-default.disabled {
  background-color: transparent;
  border-color: #ECF0F1;
}
.btn-default.btn-show {
  color: white;
  background-color: #BDC3C7;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-default.btn-show:hover, .btn-default.btn-show:focus, .btn-default.btn-show:active, .btn-default.btn-show.active, .open > .btn-default.btn-show.dropdown-toggle {
  background-color: #ECF0F1;
  color: white;
}
.btn-default.btn-show .caret {
  border-top-color: white;
}
.btn-default .caret {
  border-top-color: #BDC3C7;
}

/***
*button - primary
***/
.btn-primary {
  border-color: #2980B9;
  color: #3498DB;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-color: transparent;
  color: #1d62f0;
  border-color: #1d62f0;
}
.btn-primary:disabled, .btn-primary[disabled], .btn-primary.disabled {
  background-color: transparent;
  border-color: #3498DB;
}
.btn-primary.btn-show {
  color: white;
  background-color: #2980B9;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-primary.btn-show:hover, .btn-primary.btn-show:focus, .btn-primary.btn-show:active, .btn-primary.btn-show.active, .open > .btn-primary.btn-show.dropdown-toggle {
  background-color: #3498DB;
  color: white;
}
.btn-primary.btn-show .caret {
  border-top-color: white;
}
.btn-primary .caret {
  border-top-color: #3498DB;
}

/***
*button - success
***/
.btn-success {
  border-color: #27AE60;
  color: #27AE60;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  background-color: transparent;
  color: #049f0c;
  border-color: #2ECC71;
}
.btn-success:disabled, .btn-success[disabled], .btn-success.disabled {
  background-color: transparent;
  border-color: #27AE60;
}
.btn-success.btn-show {
  color: white;
  background-color: #27AE60;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-success.btn-show:hover, .btn-success.btn-show:focus, .btn-success.btn-show:active, .btn-success.btn-show.active, .open > .btn-success.btn-show.dropdown-toggle {
  background-color: #419641;
  color: white;
}
.btn-success.btn-show .caret {
  border-top-color: white;
}
.btn-success .caret {
  border-top-color: #27AE60;
}

/***
*button - info
***/
.btn-info {
  border-color: #16A085;
  color: #16A085;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  background-color: transparent;
  color: #2ECC71;
  border-color: #2ECC71;
}
.btn-info:disabled, .btn-info[disabled], .btn-info.disabled {
  background-color: transparent;
  border-color: #1ABC9C;
}
.btn-info.btn-show {
  color: white;
  background-color: #16A085;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-info.btn-show:hover, .btn-info.btn-show:focus, .btn-info.btn-show:active, .btn-info.btn-show.active, .open > .btn-info.btn-show.dropdown-toggle {
  background-color: #1ABC9C;
  color: white;
}
.btn-info.btn-show .caret {
  border-top-color: white;
}
.btn-info .caret {
  border-top-color: #16A085;
}
/***
*button - warning
***/
.btn-warning {
  border-color: #ec5e00;
  color: #ec5e00;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-color: transparent;
  color: #ed8d00;
  border-color: #E67E22;
}
.btn-warning:disabled, .btn-warning[disabled], .btn-warning.disabled {
  background-color: transparent;
  border-color: #ec5e00;
}
.btn-warning.btn-show {
  color: white;
  background-color: #ec5e00;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-warning.btn-show:hover, .btn-warning.btn-show:focus, .btn-warning.btn-show:active, .btn-warning.btn-show.active, .open > .btn-warning.btn-show.dropdown-toggle {
  background-color: #E67E22;
  color: white;
}
.btn-warning.btn-show .caret {
  border-top-color: white;
}
.btn-warning .caret {
  border-top-color: #ec5e00;
}


/***
*button - primary
***/
.btn-primary {
  border-color: #2980B9;
  color: #3498DB;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-color: transparent;
  color: #1d62f0;
  border-color: #1d62f0;
}
.btn-primary:disabled, .btn-primary[disabled], .btn-primary.disabled {
  background-color: transparent;
  border-color: #3498DB;
}
.btn-primary.btn-show {
  color: white;
  background-color: #2980B9;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-primary.btn-show:hover, .btn-primary.btn-show:focus, .btn-primary.btn-show:active, .btn-primary.btn-show.active, .open > .btn-primary.btn-show.dropdown-toggle {
  background-color: #265a88;
  color: white;
}
.btn-primary.btn-show .caret {
  border-top-color: white;
}
.btn-primary .caret {
  border-top-color: #3498DB;
}

/***
*button - success
***/
.btn-success {
  border-color: #27AE60;
  color: #27AE60;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  background-color: transparent;
  color: #049f0c;
  border-color: #2ECC71;
}
.btn-success:disabled, .btn-success[disabled], .btn-success.disabled {
  background-color: transparent;
  border-color: #27AE60;
}
.btn-success.btn-show {
  color: white;
  background-color: #27AE60;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-success.btn-show:hover, .btn-success.btn-show:focus, .btn-success.btn-show:active, .btn-success.btn-show.active, .open > .btn-success.btn-show.dropdown-toggle {
  background-color: #2ECC71;
  color: white;
}
.btn-success.btn-show .caret {
  border-top-color: white;
}
.btn-success .caret {
  border-top-color: #27AE60;
}

/***
*button - info
***/
.btn-info {
  border-color: #16A085;
  color: #16A085;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  background-color: transparent;
  color: #2ECC71;
  border-color: #2ECC71;
}
.btn-info:disabled, .btn-info[disabled], .btn-info.disabled {
  background-color: transparent;
  border-color: #1ABC9C;
}
.btn-info.btn-show {
  color: white;
  background-color: #16A085;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-info.btn-show:hover, .btn-info.btn-show:focus, .btn-info.btn-show:active, .btn-info.btn-show.active, .open > .btn-info.btn-show.dropdown-toggle {
  background-color: #1ABC9C;
  color: white;
}
.btn-info.btn-show .caret {
  border-top-color: white;
}
.btn-info .caret {
  border-top-color: #16A085;
}
/***
*button - warning
***/
.btn-warning {
  border-color: #ec5e00;
  color: #ec5e00;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-color: transparent;
  color: #ed8d00;
  border-color: #E67E22;
}
.btn-warning:disabled, .btn-warning[disabled], .btn-warning.disabled {
  background-color: transparent;
  border-color: #ec5e00;
}
.btn-warning.btn-show {
  color: white;
  background-color: #ec5e00;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-warning.btn-show:hover, .btn-warning.btn-show:focus, .btn-warning.btn-show:active, .btn-warning.btn-show.active, .open > .btn-warning.btn-show.dropdown-toggle {
  background-color: #E67E22;
  color: white;
}
.btn-warning.btn-show .caret {
  border-top-color: white;
}
.btn-warning .caret {
  border-top-color: #ec5e00;
}


/***
*button - danger
***/
.btn-danger {
  border-color: #c0392b;
  color: #ff3b30;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-color: transparent;
  color: #ee2d20;
  border-color: #ee2d20;
}
.btn-danger:disabled, .btn-danger[disabled], .btn-danger.disabled {
  background-color: transparent;
  border-color: #c0392b;
}
.btn-danger.btn-show {
  color: white;
  background-color: #c0392b;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-danger.btn-show:hover, .btn-danger.btn-show:focus, .btn-danger.btn-show:active, .btn-danger.btn-show.active, .open > .btn-danger.btn-show.dropdown-toggle {
  background-color: #c0392b;
  color: white;
}
.btn-danger.btn-show .caret {
  border-top-color: white;
}
.btn-danger .caret {
  border-top-color: #ff3b30;
}
