<section data-ng-controller="SystemcostsController" data-ng-init="find()">
    <div class="page-header">
        
        <h2><strong>List</strong> of System Cost</h2><p><i>input / output
    </i></p>
    
            <!-- <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="input-group input-group-md">
                <input type="text" placeholder="Search......" class="form-control" ng-model="searchSystemCost" style="height: 38px;">
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-show" type"button"> 
<i class="glyphicon glyphicon-search"></i> 
                        </button>
                </span>
            </div>
        </div>
    </div> -->
    </div>
    <div class="list-group">
    
     <label>Which columns should we export?</label>
      <select ng-model="export_column_type">
        <option value='all'>All</option>
        <option value='visible'>Visible</option>
      </select>
      <label>Which rows should we export?</label>
      <select ng-model="export_row_type">
        <option value='all'>All</option>
        <option value='visible'>Visible</option>
        <option value='selected'>Selected</option>
      </select>
      <label>What format would you like?</label>
      <select ng-model="export_format">
        <option value='csv'>CSV</option>
        <option value='pdf'>PDF</option>
      </select>
      <button ng-click="export()">Export</button>
      <div class="custom-csv-link-location">
        <span class="ui-grid-exporter-csv-link">&nbsp</span>
      </div>
      
      <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
      
       <!--  <a data-ng-repeat="(key, value) in systemcost | filter:searchSystemCost" data-ng-href="#!/systemcosts/product_type/{{key}}" class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="list-group-item-heading" data-ng-bind="key"></h4>
                </div>
            </div>
        </a> -->
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!systemcosts.$resolved || systemcosts.length">
    	No Systemcosts yet, why don't you <a href="/#!/systemcosts/create">create one</a>?
    </div>
</section>