<section data-ng-controller="TypeofmaterialsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="typeofmaterial.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == typeofmaterial.user._id))">
	<!-- 	<a class="btn btn-primary" href="/#!/typeofmaterials/{{typeofmaterial._id}}/edit">
		<i class="glyphicon glyphicon-edit"></i>
	</a> -->
		<a class="btn btn-primary btn-show" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted" style="color:#fff">
			Posted on
			<span data-ng-bind="typeofmaterial.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="typeofmaterial.user.displayName"></span>
		</em>
		<div class="col-md-12 login-page-bg">            
	        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
	            <div class="col-md-12 login-page-toggle{{isInput}}">
	                <div clsss="row">
	                    <div class="col-md-2">
	                        <span class="h4-circle{{isInput}}">1</span>
	                    </div>
	                    <div class="col-md-10 pull-left">
	                        <h3 class="text-default"> Material Flow Summary </h3>
	                    </div>
	                </div>                
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
        		    <table class="table">
        		    	<tr>
        		    		 <th>Item</th> <td>{{typeofmaterial.input_item}}</td>
        		    	</tr>
        		    	<tr>
        		    		 <th>Input Quantity</th> <td>{{typeofmaterial.total_inputQuantity}}</td>
        		    	</tr>
        		    	<tr>
        		    		 <th>Input Cost</th> <td>{{typeofmaterial.total_input_cost}}</td>
        		    	</tr>
        		    	<tr>
        		    		<th>Total Product Quantity</th><td>{{typeofmaterial.total_ProdQuantity}}</td>
        		    	</tr>
        		    	<tr>
        		    		<th>Total Product Cost</th><td>{{typeofmaterial.total_ProdCost | currency:"$":0}}</td>
        		    	</tr>
        		    	<tr>
        		    		<th>Total Loss Quantity</th><td>{{typeofmaterial.total_LossQuantity}}</td>
        		    	</tr>
        		    	<tr>
        		    		<th>Total Loss cost</th><td>{{typeofmaterial.total_LossCost | currency:"$":0}}</td>
        		    	</tr>
        		    	<tr>
        		    		<th>Total %</th><td>{{(typeofmaterial.total_percentage | number:2) * 100 | number:0}}%</td>
        		    	</tr>
        		    </table>    		
	        	</div>

	        </div>
    	</div>
	</small>
</section>
