<section data-ng-controller="IndustryController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Industry </h1>
	</div>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-page-bg">
		<form name="industryForm" class="form-horizontal forgotPwd" data-ng-submit="update(industryForm.$valid)" novalidate>
			<fieldset>				
				<div class="form-group" ng-class="{ 'has-error' : submitted && industryForm.industry_name.$invalid}">
					<label class="control-label" for="industryname">Industry Name</label>
					<div class="controls">
						<input name="industryname" type="text" data-ng-model="industry.industry_name" id="industryname" class="form-control" placeholder="industry name" required>
					</div>
					<div ng-show="submitted && industryForm.industry_name.$invalid" class="help-block">
						<p ng-show="industryForm.industry_name.$error.required" class="text-danger">Industry Name is required</p>
					</div>
				</div>
				
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-large btn-primary btn-block btn-show">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div> 
			</fieldset>
		</form>
	</div>
</section>