<section data-ng-controller="MateriallossesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Materiallosses</h1>
        <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="input-group input-group-md">
                <input type="text" placeholder="Search......" class="form-control" ng-model="searchMaterialLoss" style="height: 38px;">
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-show" type"button"> 
<i class="glyphicon glyphicon-search"></i> 
                        </button>
                </span>
            </div>
        </div>
    </div>
    </div>
    <div class="list-group">
        <a data-ng-repeat="materialloss in materiallosses | filter:searchMaterialLoss" data-ng-href="#!/materiallosses/{{materialloss._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="materialloss.created | date:'medium'"></span>
				by
				<span data-ng-bind="materialloss.user.displayName"></span>
			</small>
            
			<div class="row">
                <div class="col-md-3">
                    <h4 class="list-group-item-heading" data-ng-bind="materialloss.input_item"></h4>
                </div>
                <div class="col-md-1">
                    {{materialloss.total_percentage * 100  | number:0}} %
                </div>
            </div>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!materiallosses.$resolved || materiallosses.length">
    	No Materiallosses yet, why don't you <a href="/#!/materiallosses/create">create one</a>?
    </div>
</section>