<section data-ng-controller="MateriallossesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="materialloss[0].name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == materialloss.user._id))">
		<a class="btn btn-primary btn-show" href="/#!/materiallosses">
			<i class="glyphicon glyphicon-list"></i>
		</a>
		<a class="btn btn-primary btn-show" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="materialloss[0].created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="materialloss[0].user.displayName"></span>
		</em>
		<div class="col-md-12 login-page-bg">            
	        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
	            <div class="col-md-12 login-page-toggle{{isInput}}">
	                <div clsss="row">
	                    <div class="col-md-1">
	                        <span class="h4-circle{{isInput}}">1</span>
	                    </div>
	                    <div class="col-md-11 pull-left">
	                        <h3 class="text-default">Losses Summary </h3>
	                    </div>
	                </div>                
	            </div>
	        </div>
	        <div class="row" data-ng-repeat="tom in materialloss track by $index">
	        	<div style="background-color:#EEEDEE;padding: 2px;"><i class="glyphicon glyphicon-option-vertical"></i>   <b>{{$index}}</b>
                </div>
                <br>
	        	<div class="col-md-12">
        		    <table class="table">
        		    	<tr>
        		    		 <th>Start date</th> <td>{{tom.startDate}}</td>
        		    	</tr>
        		    	<tr>
        		    		 <th>End Date</th> <td>{{tom.endDate}}</td>
        		    	</tr>
        		    	<tr>
        		    		 <th>Item</th> <td>{{tom.input_item}}</td>
        		    	</tr>
        		    	<tr>
        		    		 <th>Input Quantity</th> <td>{{tom.total_inputQuantity}}</td>
        		    	</tr>
        		    	<tr>
        		    		 <th>Input Cost</th> <td>{{tom.total_input_cost}}</td>
        		    	</tr>
        		    	<tr>
        		    		<th>Total Product Quantity</th><td>{{tom.total_ProdQuantity}}</td>
        		    	</tr>
        		    	<tr>
        		    		<th>Total Product Cost</th><td>{{tom.total_ProdCost | currency:"$":0}}</td>
        		    	</tr>
        		    	<tr>
        		    		<th>Total Loss Quantity</th><td>{{tom.total_LossQuantity}}</td>
        		    	</tr>
        		    	<tr>
        		    		<th>Total Loss cost</th><td>{{tom.total_LossCost | currency:"$":0}}</td>
        		    	</tr>
        		    	<tr>
        		    		<th>Total %</th><td>{{(tom.total_percentage | number:2) * 100 | number:0}}%</td>
        		    	</tr>
        		    </table>    		
	        	</div>

	        </div>
    	</div>
	</small>
</section>
